.market-insights {
    max-width: 100%;
    background-color: $white-color;
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 2px 0;
    border: solid $table-border-color; 
    border-width: 1px 0 1px 0px;
    .market-insights-holder {
        max-width: 1314px;
        width: 100%;
        display: block;
        margin: 0 auto;
        @media (max-width: 1314px){
            padding: 0 15px;
        }
    }
    ul {
        @include flex-container($justify-content: center, $flex-direction: row, $align-items: center);
        padding: 2px 0 2px 60px;
        li {
            width: 210px;
            @include flex-container($justify-content: center, $flex-direction: row, $align-items: center);
            font-size: 13px;
            border-left: 1px solid $table-border-color;  
            height: 30px;
        }
        
    }
    span {
        margin-right: 5px;
        &:last-child {
            margin-right: 0;
        }
    }
    .red-insights-num {
        color: $red-color;
    }
    .inner-holder {
        @include flex-container($justify-content: flex-start, $flex-direction: row);
    }
    .insights-link-color {
        color: $link-blue-color;
        font-size: 14px;
    }
}
