.position-ideas {
    max-width: 1314px;
    display: block;
    margin: 0 auto;
    padding: 22px 0;
    @media (max-width: 1314px){
        padding: 0 15px;
    }
    h2 {
        font-size: 20px;
        color: $black-color;
    }
    ul {
        @include flex-container($justify-content: flex-start, $flex-direction: row, $align-items: center);
        padding: 0 25px 40px;
        li {
            padding-right: 30px;
        }
        a {
            color: $dark-blue;
            text-decoration: none;
            padding-bottom: 24px;
            font-size: 16px;
            line-height: 2;
            font-weight: 600;
        }
    }
    a.active {
        color: $dark-grey-color !important;
        border-bottom: 6px solid $dark-blue;
        padding-top: 30px;
        margin-top: 20px;
    }
}
.sections-holder {
    height: auto;  
    overflow: hidden;
    border-radius: 0.8%;
    -moz-box-shadow: -1px 1px 3px $form-field-color;
    -webkit-box-shadow: -1px 1px 3px $form-field-color;
    box-shadow: -1px 1px 3px $form-field-color;
    background: $white-color;
}
.probability-section {
    padding: 5px 15px;
     
    .probability-header {
        @include flex-container($justify-content: space-between, $flex-direction: row, $align-items: center);
        padding: 10px 0;
        a {
            font-size: 16px;
            @include flex-container($justify-content: flex-end, $flex-direction: row, $align-items: center);
            
            i {
                &:after {
                    display: block;
                    content: '';
                    background-image: url('../assets/Icons/Arrow-Right.svg');
                    background-size: 16px 16px;
                    height: 16px;
                    width: 16px;
                    fill: $link-blue-color;
                    color: $dark-grey-color !important;
                    background-repeat: no-repeat;
                }
            }
        }
    }  
    a {
        color: $link-blue-color;
    }
}
.table-probability-holder {
    height: 300px;
    overflow-y: auto;
}

table {
    margin-bottom: 0 !important;
    th {
        padding:0.43rem !important;
    }
    td {
        padding:0.43rem !important;
    }
}

.table-bordered {
    border: 0 !important;
    thead {
        th {
            border-bottom-width: 0;
        }
    }
    
}
table {
    border: 0;
    thead {
        tr {
            padding: 0;
            th {
                border-top: 1px solid $table-border-color;
                border-bottom-width: 0;
                font-size: 14px;
                text-align: left;
                font-weight: 500;
                &:first-child {
                    border-left: 0;
                }
                &:last-child {
                    border-right: 0;
                }
            }
        }
    }
    tbody {
        tr {    
            td {
                font-size: 12px;
                border-bottom-width: 0;
                padding: 0.20rem 0.20rem 0.20rem 0.60rem;
                text-align: left;
                &:first-child {
                    border-left: 0;
                }
                &:last-child {
                    border-right: 0;
                }
            }
        }
    }
    .low-range {
        background: #F2F2F2;
    }
}
/* progress bar */
.progress {
    border-radius: 0;
    height: 0.4rem;
    max-width: 112px;
    width: 100%;
    box-sizing: border-box;
    margin-left: 10px;
    background-color: $progressbar-color;
    span {
        display: block;
        border-right: 2px solid $white-color;
        box-sizing: border-box;
        &:last-child {
            border-right: none !important;
        }
        &:first-child {
            border-right: none !important;
        }
    }
}
.progress-bar {
    background-color: $dark-blue;
    
}
.profit-holder {
    @include flex-container($justify-content: flex-start, $flex-direction: row, $align-items: center);
    font-weight: 300;
    .percent-num {
        color: $green-color !important;
    }
}

.table-footer {
    @include flex-container($justify-content: flex-start, $flex-direction: row, $align-items: center);
    border-top: 1px solid $table-border-color;
    padding: 10px 0 2px 0;
    input {
        margin-right: 5px;
    }
    label {
        font-size: 12px;
        margin-bottom: 0;
    }
    > div {
        padding-right: 20px;
    }
    .input-holder {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}




