$green-color: #568200; 
$white-color: #ffffff;
$dark-blue: #044A7A;
$footer-green-color: #0D6F3F;
$link-blue-color: #0E67A9;
$red-color: #E01616;
$black-color: #000;
$form-border-color: #2D5701;
$search-btn-color: #7ABB35;
$header-border-color: #336D00;
$header-tab-color: #779B33;
$dark-grey-color: #666;
$form-field-color: #aaa;
$table-border-color: #dee2e6;
$progressbar-color: #DBDBDB;
$light-grey-text: #989898;
$select-box-color: #2c3e50;
$card-btn-dark: #0069b6;
$card-btn-light: #9bc7e6;
$card-text-shadow: #004988;
$card-btn-shadow: #ccc;
